<div id="submitnewgalleryimagemodal" ng-controller="LoginController">
  <div class="modal-header">
    <h3 class="modal-title">Image Uploading Login</h3>
  </div>
  <form ng-submit="login()" novalidate>
    <div class="modal-body">
      <div>
        <div>
          <div>
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <!-- USERNAME -->
            <div class="form-group">
              <label>User name:</label>
              <input type="text" name="username" class="form-control" ng-model="loginForm.username" required/>
            </div>
            <!-- PASSWORD -->
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="password" class="form-control" ng-model="loginForm.password" required/>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="submit">Login</button>
      <!-- <button type="button" class="btn btn-default" ng-click="register()">Register</button> -->     
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>    
    </div>
  </form>
</div>
