<div>
  <page-banner></page-banner>
  <div ng-controller="TreeController" class="container-fluid">
    <div id="main" class="row">
        <div id="treeMenu" class="col-lg-1 col-md-1">
        <tree tree-data="my_data"
              tree-control="my_tree"
              on-select="my_tree_handler(branch)"
              initial-selection="Menu"
              expand-level="2"></tree>
        </div>
        <div id="spaContent" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-xss-12">
        <div>
          <div class="alert" bind-html-compile="output"></div>
        </div>
        </div>
    </div>
  </div>
</div>