<div>
  <page-banner></page-banner>
  <div ng-controller="TreeController" id="treeView">
    <table>
      <tr>
        <td style="vertical-align:top;">
          <div id="treeView">
            <tree tree-data="my_data"
                  tree-control="my_tree"
                  on-select="my_tree_handler(branch)" 
                  initial-selection="Menu"
                  expand-level="2"></tree>
          </div>
        </td>
        <td style="padding:20px;vertical-align:top;">
          <div class="container" id="spa-content">                                              
            <div class="col-lg-11 col-md-11 col-s-11 col-xs-11">                            
              <div class="alert" bind-html-compile="output"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>