<div ng-controller="GalleryController" class="container-fluid">
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    Welcome to the gallery! The gallery is a showcase of Kris's work and other cool paleontology photos. Click on any of the thumbnail images to bring up a dynamic gallery view. &nbsp;<i>Like what you see?</i>&nbsp; Check out the &nbsp;<b>Rates & Services</b>&nbsp; page for fossil preparation work and other services. If you're an administrator, such as Kris, log in to upload and manage pictures.
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <br/>
  </div>
  <div id="login" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <button ng-click="openAdminLogin('sm')" class="btn btn-primary">Admin Login</button><br/><br/>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <ng-image-gallery
      images="imageMetadata"
      bubbles="true"
      bubble-size="100"
      img-bubbles="true"
      bg-close="true"
      piracy="true"
      img-anim="fadeaway"></ng-image-gallery>
  </div>
</div>