<div ng-controller="GalleryAdminController" class="container-fluid">
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12"><br/></div>  
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <button class="btn btn-primary" ng-click="returnHome()">Return Home</button>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <h2 ng-bind="title"></h2>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <ng-image-gallery
      images="imageMetadata"
      bubbles="true"
      bubble-size="100"
      img-bubbles="true"
      bg-close="true"
      piracy="true"
      img-anim="fadeaway"
      on-delete="deleteImg(img)"></ng-image-gallery>
  </div>
</div>