<div ng-controller="GalleryAdminController" class="container-fluid">
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12"><br/></div>  
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <button class="btn btn-primary" ng-click="returnHome()">Return Home</button>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <h2 ng-bind="title"></h2>
  </div>
  <div id="form">
    <form name="form" ng-submit="uploadPic(formData, formData.picFile, ['png', 'jpg', 'jpeg', 'gif'])" novalidate>
      <!-- IMAGE FILE -->
      
<!--
      <input class="form-group imgUploader" 
             style="padding: 6px 12px" 
             type="file"
             ng-model="formData.picFile" 
             file-input
             name="picFile" required>
-->
      
      <input class="imgUploader" 
             style="padding: 6px 12px" 
             type="file" ngf-select
             ng-model="formData.picFile" name="picFile"
             ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="9MB"
             ngf-model-invalid="errorFile" required>

      <i ng-show="form.picFile.$error.maxSize" style="color:red;">File too large 
        {{errorFile.size / 1000000|number:1}}MB: max 9M</i>
      <img style="padding: 6px 12px" ng-show="form.file.$valid && formData.picFile" ngf-src="formData.picFile" class="thumb-lg">
      <br/><br/>

      <div class="row col-lg-3 col-md-3 col-sm-16 col-xs-6 col-xxs-6">
        <!-- IMAGE CAPTION -->
        <div class="form-group"
             ng-class="{ 'has-error' : form.imgCaption.$invalid && !form.imgCaption.$pristine }">
          <label>Caption</label>
          <textarea name="imgCaption" class="form-control" 
                    ng-maxlength="maxChars" ng-model="formData.imgCaption" 
                    placeholder="Enter your caption here. {{maxChars}} characters maximum." 
                    required></textarea>
          <p ng-show="form.imgCaption.$invalid && !form.imgCaption.$pristine" 
             class="help-block">A caption within {{maxChars}} characters is required.</p>
        </div>
      </div>
      <!-- empty row -->
      <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
        <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6">
          <span class="progress" ng-show="formData.picFile.progress >= 0">
            <div style="width:{{formData.picFile.progress}}%" ng-bind="formData.picFile.progress + '%'"></div>
          </span>
          <br/>
          <span ng-show="formData.picFile.result" style="color:green">Uploaded!</span>    
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
        </div>
      </div>
    </form>
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
      <ng-image-gallery
        images="imageMetadata"
        bubbles="true"
        bubble-size="100"
        img-bubbles="true"
        bg-close="true"
        piracy="true"
        img-anim="fadeaway"
        on-delete="deleteImg(img)"></ng-image-gallery>
    </div>
  </div>
</div>