<div ng-controller="RatesAndServices" class="container-fluid">
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <span ng-repeat="par in paragraphs">
      <p bind-html-compile="par"></p>
    </span>    
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <h4>Preparation of enrolled trilobite from shale:</h4>
  </div>
  <div id="detailedSummary" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
    <details>
      <summary style='outline:none;cursor:pointer;'>Details</summary>
      <span ng-repeat="par in detailsParagraphs">
        <p bind-html-compile="par"></p>
      </span>
    </details>
  </div>
  <div class="row">
    <img id='ratesAndServicesBefore'
         class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xxs-12 figure-img img-fluid img-rounded gallery-img'
         ng-src="{{imageBeforeUrl}}" title="{{imageBeforeAlt}}" alt="{{imageBeforeAlt}}"/>
    <img id='ratesAndServicesAfter'
         class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xxs-12 figure-img img-fluid img-rounded gallery-img'
         ng-src="{{imageAfterUrl}}" title="{{imageAfterAlt}}" alt="{{imageAfterAlt}}"/>
  </div>
</div>